@model Customer
@{
    string title = ViewBag.Action + " Customer";
    ViewBag.Title = title;    // sets title to "Add Customer" or "Edit Customer"
                              // based on action as concatenated above
}


@section scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/
                       jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="@ViewBag.Action" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="form-group row">
        <div class="col-sm-2"><label>First Name:</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.FirstName" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label>Last Name:</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.LastName" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label>Address:</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.Address" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label>City:</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.City" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label>State/Province:</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.StateProvince" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.StateProvince" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label>Postal Code:</label></div>
        <div class="col-sm-4">
            <input type="text" asp-for="@Model.PostalCode" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label asp-for="CountryId">Country:</label></div>
        <div class="col-sm-4">
            <select asp-for="CountryId"
                    asp-items="@(new SelectList(ViewBag.Countries,
                             "CountryId", "CountryName",
                             Model.CountryId))"
                    class="form-control">
                <option value="invalid">---Select a country---</option>
            </select>
        </div>
    </div>

        <div class="form-group row">
            <div class="col-sm-2"><label>Email:</label></div>
            <div class="col-sm-4">
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"><label>Phone Number:</label></div>
            <div class="col-sm-4">
                <input type="text" asp-for="@Model.Phone" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
        </div>



        <input type="hidden" asp-for="CustomerId" />

        <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
        <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>