@{
    ViewData["Title"] = "Technician Manager";
}

<h1>@ViewData["Title"]</h1>

<div class="row">

    <div class="col-sm-10">
        <table class="table table-bordered table-hover table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var technician in Model)
                {
                    <tr>
                        <td>@technician.Name</td>
                        <td>@technician.Email</td>
                        <td>@technician.Phone</td>
                        <td>
                            <a asp-action="Edit" class="btn btn-primary"
                               asp-route-id="@technician.TechnicianId">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Delete" class="btn btn-primary"
                               asp-route-id="@technician.TechnicianId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Add" class="btn btn-primary">Add Technician</a>
    </div>
</div>